body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#title{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#newGridBtn{
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
}

#gameContainer{
    display: flex;
    justify-content: center;
}

#container{
    width: 64vh;
    height: 64vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.newDivClass{
    flex: 0 0 calc(100% / 16);
}

